<!-- BLOG SECTION -->
  <section id="blog" class="blog">
    <div class="container-fluid">
      <div class="blog-aside">
        <img src="images/aside4.svg" alt="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5>BLOG STORIES</h5>
            <h2>Check Our News</h2>
          </div>
        </div>
        <div id="blog-drag" class="row blog-slider">
          <div class="col-12 col-lg-4 blog-box blog-first">
            <!-- Blog Post Title -->
            <h6>NEW ADVENTURE</h6>
            <!-- Blog Post Date -->
            <p>17 March 2019</p>
            <!-- Blog Post -->
            <p>Vestibulum ac diam sit amet quam vehicula elementum amet est on dui. Nulla porttitor accumsan tincidunt.</p>
          </div>
          <div class="col-12 col-lg-4 blog-box">
            <!-- Blog Post Title -->
            <h6>NEW ADVENTURE</h6>
            <!-- Blog Post Date -->
            <p>17 March 2019</p>
            <!-- Blog Post -->
            <p>Vestibulum ac diam sit amet quam vehicula elementum amet est on dui. Nulla porttitor accumsan tincidunt.</p>
          </div>
          <div class="col-12 col-lg-4 blog-box">
            <!-- Blog Post Title -->
            <h6>NEW ADVENTURE</h6>
            <!-- Blog Post Date -->
            <p>17 March 2019</p>
            <!-- Blog Post -->
            <p>Vestibulum ac diam sit amet quam vehicula elementum amet est on dui. Nulla porttitor accumsan tincidunt.</p>
          </div>
          <!-- Blog Section to be showed on Drag  -->
          <div class="col-12 col-lg-4 blog-box hiden-blog hide-blog">
            <!-- Blog Post Title -->
            <h6>NEW ADVENTURE</h6>
            <!-- Blog Post Date -->
            <p>17 March 2019</p>
            <!-- Blog Post -->
            <p>Vestibulum ac diam sit amet quam vehicula elementum amet est on dui. Nulla porttitor accumsan tincidunt.</p>
          </div>
          <div class="col-12 col-lg-4 blog-box hiden-blog  hide-blog">
            <!-- Blog Post Title -->
            <h6>NEW ADVENTURE</h6>
            <!-- Blog Post Date -->
            <p>17 March 2019</p>
            <!-- Blog Post -->
            <p>Vestibulum ac diam sit amet quam vehicula elementum amet est on dui. Nulla porttitor accumsan tincidunt.</p>
          </div>
          <div class="col-12 col-lg-4 blog-box hiden-blog  hide-blog">
            <!-- Blog Post Title -->
            <h6>NEW ADVENTURE</h6>
            <!-- Blog Post Date -->
            <p>17 March 2019</p>
            <!-- Blog Post -->
            <p>Vestibulum ac diam sit amet quam vehicula elementum amet est on dui. Nulla porttitor accumsan tincidunt.</p>
          </div>
        </div>
        <!-- Blog Button to Show More or Less on Mobile&Tablet View  -->
        <button class="hide-me" id="blog-btn">Show More Stories</button>
      </div>
    </div>
  </section>  
    <!-- SERVICES SECTION -->  
  <section id="about-us" class="services">
    <div class="container-fluid">
      <div class="side-img"> 
        <img src="images/aside.svg" alt="">
      </div>
      <div class="side2-img"> 
        <img src="images/aside2.svg" alt="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-4 service-txt">
            <h2>Vos usages</h2>
            <div class="hero-btns service-btn">
              <a data-scroll href="#contact-us">Contactez-nous</a>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="service-box">
              <img src="images/service-icon1.svg" alt="">
              <!-- Service Title -->
              <h3>Web & Graphic<br>Design</h3>
              <!-- Replace Patch to Image Under -->
              <p>Des applications multi-plateforme dédiées à la création et à la diffusion de contenu dynamique.</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="service-box">
              <img src="images/service-icon2.svg" alt="">
              <!-- Service Title -->
              <h3>Web & App<br>Development</h3>
              <!-- Service Info -->
              <p>Vestibulum ac diam sit amet quam vehicula elementum amet est on dui. Nulla porttitor accumsan tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- ABOUT SECTION -->
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-6">
          <img src="images/aboutimg.svg" alt="">
        </div>
        <div class="col-12 col-sm-12 col-lg-6">
          <h5>SWAIP</h5>
          <h2>Depuis 2005<br></h2>
          <!-- Replace About Us Text Under -->
          <p>Avec une grande tradition dans le développement d'applications événementielles.</p>
        </div>
      </div>
    </div>
  </section>